Myfeature{
    width:100px
}
.MyImageHeight {
    height: 35vh;
    width: 100%;
}

.Mycolors {
    width: 200px;
    flex-wrap: wrap;
}

.MyColor1 {
    background: red;
    width: 30px;
    height: 10px
}

.MyColor2 {
    background: blue;
    width: 30px;
    height: 10px;
}

.MyColor3 {
    background: yellow;
    width: 30px;
    height: 10px;
}

.MyButton {
    width: 100%;
    height: 35px
}

.Myoverflow {
    white-space: nowrap
}

.Myslider {
    display: inline-block;
    margin: 2vw;
}
img {
    height: 40vh;
}

.Myparentfeature {
    display: flex;
    justify-content: space-around;
}

.Myparentfeature>div {
    width: 50px;
    height: 15px;
}
.Myproduct {
    display: inline-block;
}

@media (max-width: 640px) {
    .Mymenu {
        height: auto;
    }
    .MyImageHeight {
        width: 54vw;
    }
    .Myslider {
        width: 55vw;
    }
    .MyButton {
        width: 54.5vw;
    }
}

@media (max-width: 1000px) {
    .Mymenu {
        height: auto;
    }
    .MyImageHeight {
        width: 45vw;
    }
    .Myslider {
        width: 45vw;
    }
    .MyButton {
        width: 44.5vw;
    }
}
